p
  - if @user.to_s.present?
    = t('devise.emails.event_published.greetings.named', name: @user.to_s)
  - else
    = t('devise.emails.event_published.greetings.anon')

p = t('devise.emails.event_published.body', title: @event.title, date: l(@event.started_at, format: :date_time_full), place: @event.place)

p = link_to t('devise.emails.event_published.event_link'), event_url(@event)

p
  strong P.S.
  == " " + t('devise.emails.event_published.ps_html', profile_link: link_to(t('devise.emails.event_published.profile_link_text'), edit_my_profile_url)).html_safe
'--
br
== t('devise.emails.signature')
