.cookie-consent#cookie-consent
  .cookie-consent__inner.container
    p.cookie-consent__text
      | На информационном ресурсе применяются cookie-файлы. Оставаясь на сайте IT52.INFO, вы подтверждаете свое согласие на их использование.
    = button_tag t('cookie_consent.accept'), type: 'button', class: 'cookie-consent__button mdc-button mdc-button--raised mdc-button--dense', id: 'cookie-consent-accept'

