.event.panel.panel-default data={ id: event.id }
  .panel-body
    .row: .col-sm-12
      h2.event-header
        span.event-kind
          | [#{t("activerecord.attributes.event.kinds.#{event.kind}")}]
        span.event-header-separator< 
        = link_to event.title, event_path(event)
      h4.event-subheader
        span<> title="Время проведения" = event.link_to_time
        - if event.place.present?
          span<> title="Место проведения" = event.link_to_place
    hr
    .row
      .col-sm-4
        = link_to event_path(event) do
          .image-container = image_tag event.title_image.square_500.url, alt: event.title
        = render partial: 'participate_block', object: event, as: :event

        hr
        .event-date: p title="Время начала"
          i.fas.fa-fw.fa-calendar>
          = link_to event.local_started_at, event_path(event, format: :ics)
        - if event.place.present?
          .event-place: p title="Место проведения"
            i.fas.fa-fw.fa-map-marker>
            = event.link_to_place
        - if event.online_broadcast.present?
          .event-online-broadcast: p title="Онлайн трансляция"
            i.fas.fa-fw.fa-video>
            = link_to t('activerecord.attributes.event.online_broadcast'), event.online_broadcast, target: '_blank', rel: 'noopener noreferrer'
        - if event.respond_to?(:telegram_channel) && event.telegram_channel.present?
          .event-telegram-channel: p title="Telegram канал или группа"
            i.fab.fa-fw.fa-telegram>
            = link_to event.telegram_channel, event.telegram_channel_url, target: '_blank', rel: 'noopener noreferrer'
        .event-organizer: p title="Организатор"
          i.fas.fa-fw.fa-user>
          span> Организатор
          a href=user_path(event.organizer) = event.organizer
        .event-share: p title="Поделиться"
          i.fas.fa-fw.fa-share-alt>
          span> Поделиться в
          span.ya-share2 data={ counter: true, lang: "ru", services: "telegram,vkontakte,facebook,twitter,gplus", size: 'm', title: event.title, description: event.truncated_description, url: event_url(event)}
        - if event.tag_list.present?
          .event-tags: p title="Тэги"
              i.fas.fa-fw.fa-tag>
              == event.tag_list.map { |tag| link_to "##{tag}", tag_path(tag)}.join(', ')
        - if event.categories.any?
          .event-categories: p title="Категории"
            i.fas.fa-fw.fa-folder>
            = event.categories.map(&:name).join(', ')
        .event-views: p title="Просмотры"
          i.fas.fa-fw.fa-eye>
          span.event-views-counter data={ 'event-path' => event_path(event) } = event.pageviews
      .col-sm-8
        - if event.online_broadcast.present? || (event.respond_to?(:telegram_channel) && event.telegram_channel.present?)
          .event-broadcast-actions
            - if event.online_broadcast.present?
              = link_to event.online_broadcast, class: 'btn btn-primary', target: '_blank', rel: 'noopener noreferrer' do
                i.fas.fa-fw.fa-video
                span = t('events.show.watch_broadcast')
            - if event.respond_to?(:telegram_channel) && event.telegram_channel.present?
              = link_to event.telegram_channel_url, class: 'btn btn-default', target: '_blank', rel: 'noopener noreferrer' do
                i.fab.fa-fw.fa-telegram
                span = t('events.show.telegram_channel_btn')
        .event-description = event.rendered_description

  - if event.participants.any?
    = cache [event, event.participants]
      .panel-footer
        .participants
          h4
            => Event.human_attribute_name(:participants)
            small = event.participants.size
          = render partial: 'participants_block', object: event, as: :event
