- content_for :dynamic_javascripts
  = javascript_pack_tag 'editor', 'data-turbolinks-track': true, defer: true

- if @event.errors.any?
  .alert.alert-danger
    = t('events.form.not_all_fields_filled')

= simple_form_for @event do |f|
  = f.input :title
  .row
    .col-sm-6
      .well
        - if @event.title_image.present?
          .title-image.image-container
            = image_tag @event.title_image.square_500.url
        = f.input :title_image, wrapper: :vertical_file_input
        = f.input :title_image_cache, as: :hidden
      = f.input :kind, as: :select, collection: Event.humanized_kinds_map, allow_blank: false, selected: @event.kind
      - started_at_string = l(f.object.started_at || 1.month.from_now, format: :date_time_short)
      = f.input :started_at, as: :string, input_html: { value: started_at_string, data: { default_date: started_at_string }}
      = f.input :tag_list, input_html: { value: @event.tag_list.to_s, maxlength: 100 }
    .col-sm-6
      = f.input :place
      = f.input :address_comment, as: :text
      = f.input :online_broadcast, as: :string, input_html: { type: :url }
      - if @event.respond_to?(:telegram_channel)
        = f.input :telegram_channel, as: :string
      #event_paid_block.event-paid-block
        = f.input :paid, wrapper: :vertical_boolean
        #event_price_wrapper
          = f.input :price, input_html: { id: 'event_price_input', type: 'number', min: 0, step: 1, disabled: !f.object.paid }, hint: t('events.form.price_hint')
      = f.input :location, as: :hidden
      = check_box_tag :has_foreign_link, !@event.foreign_link.blank?, !@event.foreign_link.blank?
      = label_tag :has_foreign_link, t("my.events.has_foreign_link"), style: "padding-left: 10px;"
      div#event_foreign_link_box.hidden
        = f.input :foreign_link, as: :string, input_html: { type: :url }

  .row: .col-sm-12
    = f.input :description, input_html: { rows: 10, class: 'mde-textarea' }
    .event-categories-block.form-group class=('has-error' if @event.errors[:category_ids].any?)
      label.control-label = t('activerecord.models.category.other')
      - if @event.errors[:category_ids].any?
        span.help-block = @event.errors.full_messages_for(:category_ids).first
      .event-categories-inner
        .row
          - categories = Category.order(:name).to_a
          - column_count = 4
          - categories.each_slice((categories.size.to_f / column_count).ceil) do |column_categories|
            .col-xs-6.col-md-3
              - column_categories.each do |category|
                .checkbox
                  label
                    = f.check_box :category_ids, { multiple: true }, category.id, nil
                    = category.name
    = f.submit class: 'btn btn-primary'
