h1 На it52

p Мы некоммерческое сообщество, <strike>а сил для игр и роста требуестя ой как много</strike> и тратим на подготовку мероприятий своё личное время. Если вам понравилась какая-то из наших конференций, митапов или других тус, или вы просто хороший человек (и программист), то вы можете выразить материальную благодарность в этой формочке.

iframe src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=1CGHDL1A4BI.250901&" width="500" height="480" frameborder="0" allowtransparency="true" scrolling="no"
br/

