= "Добро пожаловать!\n\n"
= "Вы собираетесь зарегистрироваться (или изменить email) на сайте #{ENV.fetch('mailing_host') { 'it52.info' }} с адресом #{@resource.email}.\n\n"
= "Пожалуйста, подтвердите свой email, перейдя по ссылке:\n#{confirmation_url(@resource, confirmation_token: @token)}\n\n"
= "Если вы не регистрировались на указанном сайте, просто проигнорируйте это сообщение.\n"
