- greeting = @resource.to_s.present? ? t('devise.emails.reset_password.greetings.named', name: @resource.to_s || @resource.email) : t('devise.emails.reset_password.greetings.anon')
- body_plain = t('devise.emails.reset_password.body')[0].to_s.gsub(%r{<br\s*/?>}i, "\n").gsub(/<[^>]+>/, '')
= "#{greeting}\n\n"
= "#{body_plain}\n\n"
= "#{t('devise.emails.reset_password.reset_link')}: #{edit_password_url(@resource, reset_password_token: @token)}\n\n"
= "#{t('devise.emails.reset_password.body')[1]}\n"
