= "Здравствуйте, #{@resource.email}!\n\n"
= "Ваш аккаунт был заблокирован из-за нескольких попыток неправильного ввода пароля.\n\n"
= "Перейдите по ссылке, чтобы снять блокировку:\n#{unlock_url(@resource, unlock_token: @token)}\n"
